.navbar-custom {
    background-color: #035485;
    color: white;
    text-align: left;

}
/* Modify brand and text color */
.btn-group{
    padding-right: 40px;
    
}
.nav-item{
    padding-left : 40px;
}


.placeholder{
    display: none;
    height:0;   
}
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn:active {
    box-shadow: none !important;
}
.show-placeholder{
    display:block;
    height:60vh;
    position: absolute;
    z-index: 1;
    background-color: #035485;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top:100%;
    width:100vw;
    transition:height 1s ease;
}

#blue_text{
    color:#035485;
    font-family:"Playfair Display";
    font-size:50px;
}

#starting_section{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:80px;
}
#explore_jobs{
    border:50px;
    padding: 10px 45px;
    font-size: 16px;
    color: black;
    background-color:white;
    border:1px solid black;
    border-color: black;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease; 
    font-family: "Raleway";
    font-size:16px;
}
#sector_1{
    padding-left:0;
    padding-right:0;
    margin-bottom:30px;
}
#sector_1_img{
    width:100%;
    height:auto;
}
#ready_to_join_us{
    margin-left:100px;
}
#blue_text_2{
    margin-top:30px;
    font-size:40;
    font-family:"Playfair Display";
    font-weight: 500;
    color:#035485;
}
#join_us_text{
    margin-top:30px;
    font-family: "Raleway";
    font-size:16px;
    color:rgba(108, 108, 108, 1);
    font-weight: 400;
}

#blue_background{
    background-color: #035485;
    padding-top: 40px;
    padding-bottom: 40px;
}
#learn_as_you_work{
    margin-left:40px;
}
#white_text_head{
    font-family:"Playfair Display";
    font-size:30px;
    font-weight: 600;
    color:rgba(255, 255, 255, 1);
    margin-top:150px;
    margin-left: 30px;
}
#white_text{
    font-family:"Raleway";
    font-size:16px;
    font-weight: 400;
    color:white;
    margin-top:10px;
    margin-left:30px;
}
#footer_content{
    background-color: #242424;
    color:white;
}
#logo{
    padding-left: 50px;
    margin-left:30px;
    margin-right:30px;
    margin-top: 50px;
    margin-bottom: 15px;
}
#social_media_links{
    margin-left:5px;
    margin-right:5px;
    padding-left:5px;
    padding-right:5px;
}
#footer_service_type{
    margin-top:50px;
    margin-right:50px;
    margin-left:250px;
}
#footer_address{
    margin-top:50px;
}