.container {
    margin: 0;
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

.feedback-text {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.04em;
    padding-bottom: 1rem;
}

.field-lable {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
}

#name {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-family: "Raleway";

}

#email {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-family: "Raleway";
}

#phone {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-family: "Raleway";
}

#message {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-family: "Raleway";
}

.h1 {
    color: #035485;
    font-size: "Raleway Display";
    font-size: 48px;
}

.contact-form {
    width: 50%;
}

.contact-info {
    width: 42%;
}

.form-field {
    margin-bottom: 10px;
    width: 100%;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.contact-details {
    margin-bottom: 10px;
}

#send_message {
    width: 202px;
    height: 56px;
    padding: 10px 25px;
    font-size: 16px;
    color: white;
    background-color: #035485;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

#contact_details {
    padding-top: 30px;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.04em;
}

#footer_content {
    background-color: #242424;
    color: white;
}

#logo {
    padding-left: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 15px;
}

#social_media_links {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#footer_service_type {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 250px;
}

#footer_address {
    margin-top: 50px;
}