html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbar-custom {
  background-color: #035485;
  color: white;
  text-align: left;
  position: relative;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.placeholder {
  display: none;
  height: 0;
}

.placeholder {
    display: none;
    height: 0;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none !important;
}

.exp-btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.exp-btn:active {
    box-shadow: none !important;
}

.carousel-item {
    background-color: #035485;
}

.carousel-caption {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 940px;
    right: 0;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 85px;
}

.carousel-heading {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 0.04em;
}

.carousel-content {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.06em;
}

.btn {
    margin-right: 50px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    border: 0;
    color: white;
    font-family: "Raleway";
    font-size: 18px;
}

.exp-btn {
    margin-right: 50px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    color: white;
    font-family: "Raleway";
    font-size: 18px;
    padding: 10px 20px;
}

#kaay_labs_title {
    padding: 4rem 2rem 4rem 4rem;
}

#Explore_all {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    color: #000000B2;
    border-color: #000000B2;
    border-width: 1px;
}

#service_desc_plus_icons {
    margin-left: 150px;
    margin-right: 50px;
}

#approach {
    padding: 4rem 0 2rem 4rem;
}

.our-approach-img {
    text-align: right;
}

#our_services {
    height: 566.91px;
    padding: 2rem 0 2rem 4rem;
    background: #FAFAFA;
}

#digital_strat_desc {
    margin-top: 30px;
    margin-bottom: 30px;
}

#Explore_all {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
}

#approach_step {
    width: 80%;
    padding-top: 2rem;
}

#case_study_row {
    padding-right: 0px;
    padding: 0px;
}

#case_study {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

#Blog_posts {
    padding: 4rem 0 4rem 4rem;
    background: #FAFAFA;
}
#work_together {
    padding: 3rem 4rem;
}
#work_together_img {
    text-align: right;
}

#work_together_text {
    margin-left: 20px;
    align-items: right;
}

#together-text {
    margin-top: 30px;
}

#footer_content {
    background-color: #242424;
    color: white;
}

#logo {
    padding-left: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 15px;
}

#social_media_links {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#footer_service_type {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

#footer_address {
    margin-top: 50px;
}

.blue_text_1{
    font-family: "Playfair Display";
    font-size: 40px;
    color: #035485;
}